h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  font-family: "Comic Neue", "Comic Sans MS", cursive, sans-serif;
  border-bottom: none;
  font-weight: 400;
}

#footer {
  background: url(https://64.media.tumblr.com/4a0225c82d2beff9dfca5dada7eb28c0/c2d271894a4c0b8f-5a/s400x600/d0fb29787e4e4d0f22d22f7cb3bb16e1efe4ef15.png);
  background-size: 250px;
  font-weight: 599;
  color: #4b2814;
  background-blend-mode: overlay;
  -webkit-text-stroke: 0.49px #4b2814;
  background-color: #fdf76d;
}

#header ul.primary {
  background-color: #965f37;
  background-blend-mode: overlay;
  background-size: 500px;
}

#greeting .icon {
  border: #f3eae0;
  border-radius: 1em;
}

.icon {
  border: #f3eae0;
  border-radius: 3em;
}

.error {
  background: #333;
  color: #eea33f;
}

#main.errors {
  background: url("https://i.pinimg.com/736x/5f/58/25/5f5825f95753483a128232ef84233e5b.jpg") top right no-repeat;
}

#main.error-502 {
  background: url("https://i.pinimg.com/736x/5f/58/25/5f5825f95753483a128232ef84233e5b.jpg") top right no-repeat;
}

#main.error-503-maintenance {
  background: url("https://i.pinimg.com/736x/5f/58/25/5f5825f95753483a128232ef84233e5b.jpg") top right no-repeat;
}

#outer #header .dropdown-menu li:nth-child(odd) a:hover {
  color: #fff;
  background: #efd442;
  font-weight: 570;
  text-shadow: 1px 1px 2px rgb(0 0 0);
  -webkit-text-stroke: .25px #4b2814;
}

#outer #header .dropdown-menu li:nth-child(even) a:hover {
  background: url(https://64.media.tumblr.com/6ac63771fe4251efb85850d815a5f0ce/919a812fd61578fb-8d/s500x750/a3a5343fbc2149fa9d580608e75bab549ead49e6.png);
  background-position-x: 20;
  background-position-y: -20;
  background-size: 200px;
  font-weight: 590;
  color: #fff;
  text-shadow: 1px 1px 2px rgb(0 0 0);
  -webkit-text-stroke: .25px #fff;
  background-color: #fbf3b3;
  background-blend-mode: hard-light;
  border-radius: 1.5em;
  background-repeat: no-repeat;
}

#outer #header .dropdown-menu li:nth-child(odd) a {
  background: #fff9b0;
}

#outer #header .dropdown-menu li:nth-child(even) a {
  background-color: #965f37;
  color: #fff;
  text-shadow: 1px 1px 2px rgb(0 0 0);
  -webkit-text-stroke: .25px #4b2814;
}

#header .menu li {
  border-bottom: 1px solid transparent;
  margin: 0 .25em;
  text-align: left;
}

#header .menu,
#small_login {
  background: transparent;
  background-size: contain;
  padding: .25em 0;
  position: absolute;
  width: 20em;
  box-shadow: none;
}

#header .user a,
#small_login .action {
  background: #fff;
  color: #e2abab;
  text-decoration: none;
  padding: 3px 6px;
  border: 1.6px solid #efd1d1;
  border-radius: 10px;
}

#header .actions a:hover,
#header .actions a:focus,
#header .dropdown:hover a {
  border: 3px double #b69267;
  background-color: #efd442;
  padding: 5px 9px;
  border-radius: 10px;
  color: #000;
  text-shadow: -1px -1px 0 #fff, 1px 1px 0 #fff, 0 0 1px #fff;
}

#header .dropdown:visited {
  background-color: #E75581;
  padding: 5px 9px;
  border: 3px solid rgba(238, 149, 151, 0.8);
  border-radius: 10px;
  color: #FAFCFB;
  text-shadow: -1px -1px 0 #961a3f, 1px 1px 0 #961a3f, 0 0 1px #961a3f;
}

div.comment:nth-child(even),
li.comment:nth-child(even) {
  background: #818181;
  color: #FEB7C7;
  border-radius: 1.5em;
}

#header .heading a,
#header .open a,
#header fieldset,
#header form,
#header p,
.actions a:hover,
.actions input:hover,
.delete a,
span.delete,
span.unread,
.replied,
span.claimed,
.draggable,
.droppable,
span.requested,
.blurb h4 img,
a.work,
.system .latest h3,
.system div.news h3,
.system .tweets h3,
.required,
a.cloud7,
a.cloud8 {
  background: transparent;
  color: #fff9b0;
}

.blurb h4 a:link {
  color: #eea33f;
}

.actions a,
.actions label,
.actions a:link,
.actions a:visited,
.actions button,
.action,
.action:link,
.action:visited,
.action a,
.action a:link,
.action a:visited,
button,
label.action,
input[type="submit"],
.current,
.announcement input[type="submit"],
.announcement .action,
input::file-selector-button {
  background: #965f37;
  border-color: #4b2814;
  color: #eea33f;
  box-shadow: #eea33f;
}

.actions a:hover,
.actions input:hover,
.actions input,
.actions label:hover,
.action:hover,
input[type="submit"]:hover,
button:hover,
.current:hover {
  color: #fff9b0;
  background: #965f37;
  border: 2.5px solid #eea33f;
  box-shadow: inset 2px 2px 2px #D69238 !important;
}

.tags a.tag {
  background-color: #D69238;
  border: 1.6px solid #4b2814;
  color: #fff9b0;
  line-height: 2;
  text-decoration: none;
  padding: 4px 8px;
  border-radius: 10px;
}

body,
th,
tr:hover,
col.name,
form blockquote.userstuff,
fieldset dl dl,
.autocomplete div.dropdown ul,
#ibox_wrapper,
#ibox_content,
.toggled form,
.dynamic form,
.secondary,
.listbox .index,
#ui-datepicker-div,
.dashboard .listbox .index,
.nomination dt {
  background-color: #fff9b0 !important;
  color: #4b2814 !important;
  box-shadow: 0px 3px 16px #eea33f;
  border-radius: 3em;
}

fieldset,
fieldset fieldset fieldset {
  background-color: #efd442 !important;
  color: #965f37 !important;
  box-shadow: 0px 3px 16px #eea33f;
  border-radius: 1em;
}

fieldset dl dl,
fieldset dl,
#fieldset dl h2 {
  background-color: #965f37 !important;
  color: #fff9b0 !important;
  box-shadow: 0px 3px 16px #eea33f;
  border-radius: 1em;
}

#dashboard,
#dashboard.own {
  background: #c9dffb;
  color: #000;
  border: 2px solid #5a8bd4;
  box-shadow: 0 0 2px #000;
}

li.blurb,
.blurb .blurb {
  color: #4b2814;
  background: url(https://64.media.tumblr.com/d6144655c4f76d3737f5df000462d66f/efcf368529d8ca5c-99/s500x750/7d5bafd2781c45e6649210881840c1d87bb94a3d.png);
  background-size: 300px;
  background-color: #fff9b0;
  background-blend-mode: overlay;
  display: block;
  position: relative;
  clear: left;
  padding: .429em .75em;
  overflow: visible;
  border-radius: 5px;
  border: 2px dashed #4b2814;
}

.splash .module h3,
.splash .news li,
.home .header h2,
li.comment,
dl.meta,
.bookmark .user,
#header .menu li,
#dashboard ul,
#dashboard .secondary,
ul.notes,
.flash,
.notice,
tbody tr,
thead td,
#header #small_login,
fieldset,
form dl,
fieldset dl dl,
fieldset fieldset fieldset,
fieldset fieldset dl dl,
dd.hideme,
form blockquote.userstuff,
form dt,
.actions a:active,
.current,
a.current,
.current a:visited,
.search span.tip,
.listbox,
fieldset fieldset.listbox {
  border-color: #eea33f;
}

#dashboard,
#dashboard.own {
  color: #4b2814;
  background: url(https://64.media.tumblr.com/05e60fbf612825a0dbd6fef9da67a580/725bd80b5de726fc-b0/s500x750/d5942bb97cf5e2699b2a45272dbe7f8e4b22e0e2.png);
  background-size: 400px;
  background-color: #efd442;
  background-blend-mode: normal;
  display: block;
  position: relative;
  clear: left;
  padding: .429em .75em;
  overflow: visible;
  border-radius: 5px;
  border: 2px dashed #4b2814;
  box-shadow: 0 0 2px #000;
  background-repeat: repeat;
}

#dashboard a:hover {
  background: url(https://64.media.tumblr.com/6ac63771fe4251efb85850d815a5f0ce/919a812fd61578fb-8d/s500x750/a3a5343fbc2149fa9d580608e75bab549ead49e6.png);
  background-position-x: 20;
  background-position-y: -20;
  background-size: 200px;
  font-weight: 590;
  color: #fff;
  text-shadow: 1px 1px 2px rgb(0 0 0);
  -webkit-text-stroke: .25px #fff;
  background-color: #FF5C39;
  background-blend-mode: hard-light;
  border-radius: 1.5em;
}

#dashboard .current {
  border-radius: 25px 25px 0px 0px;
  background: #4b2814;
  color: #efd442;
}

#stat_chart g[clip-path^=url] > g:nth-of-type(2) rect,
#stat_chart svg g:nth-of-type(2) > g rect:last-of-type {
  filter: hue-rotate(60deg);
  opacity: 25%;
}

#header h1 a::before {
  content: "🍮 Pompompurin Archive 🍮";
  display: block;
  font-size: 2em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive;
  font-variant: small-caps;
  text-decoration: none;
  text-align: center;
  color: #efd442;
  -webkit-text-stroke: 1px #4b2814;
  text-shadow: 0 0 7px #eea33f;
}

#header .logo,
#header h1 sup {
  display: none !important;
}

#header h1 a span {
  display: none !important;
}

#header h1 a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6em;
  margin: 0;
}

#header {
  margin: 0 0 1em;
  padding: 0;
  position: relative;
  background: url(https://64.media.tumblr.com/16f2dc58ad921eeebdd7f5370b6e6504/cb9da9d739164eed-77/s400x600/42b48493c303c450e875300e14c9f26cc6eb448a.jpg);
  background-size: 100;
  background-position-x: center;
  background-position-y: center;
  background-color: #eac914;
  background-blend-mode: overlay;
}

#workskin {
  color: #965f37;
  background: #f2dc66;
  border: 2px dashed #4b2814;
  padding-left: 30px;
  padding-right: 30px;
}

.workskin .notes,
dl.meta,
.reading h4.viewed,
.bookmark .user,
.comment .posted,
.comment .edited {
  font-size: 90%;
}

#workskin {
  text-align: justify;
}

#workskin h2 {
  font-size: 2.7em;
  color: #ec981e;
}

.splash .favorite li:nth-of-type(odd) a:hover,
.splash .favorite li:nth-of-type(odd) a:focus {
  background: #965f37;
  color: #fff9b0;
}

.splash .favorite li:nth-of-type(odd) a {
  background: #9f8b5f;
  color: #efd442;
}

.splash .favorite li:nth-of-type(even) a:hover,
.splash .favorite li:nth-of-type(even) a:focus {
  background: #eea33f;
}

.splash .favorite:after {
  content: "‧₊˚ 🍮 ⋅ ☆";
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  height: 15px;
  width: 15px;
  border: 5px solid #4b2814;
  background: #efd442;
}

::-webkit-scrollbar-thumb {
  background: #efd442 padding-box;
  border-width: 6px 0;
}

::-webkit-scrollbar-thumb:hover {
  background: #eea33f;
}

ul.tags li.warnings,
ul.tags li.relationships,
ul.tags li.characters,
ul.tags li.freeforms {
  float: left !important;
  margin: 0;
  padding: 2px;
}

li.warnings + li.relationships,
li.relationships + li.characters,
li.characters + li.freeforms,
li.warnings + li.characters,
li.warnings + li.freeforms,
li.relationships + li.freeforms {
  clear: left;
}

ul.tags li.warnings:first-child:before {
  content: "⚠️ ";
  color: #0d1f3a;
  font-family: Georgia, serif;
  font-weight: 600;
}

li.warnings + li.relationships:before {
  content: "🍮 ";
  color: #0d1f3a;
  font-family: Georgia, serif;
  font-weight: 600;
}

li.relationships + li.characters:before {
  content: "🍫 ";
  color: #0d1f3a;
  font-family: Georgia, serif;
  font-weight: 600;
}

li.characters + li.freeforms:before {
  content: "☕ ";
  color: #0d1f3a;
  font-family: Georgia, serif;
  font-weight: 600;
}

li.warnings + li.characters:before {
  content: "🥛 ";
  color: #0d1f3a;
  font-family: Georgia, serif;
  font-weight: 600;
}

li.warnings + li.freeforms:before {
  content: "🥚 ";
  color: #0d1f3a;
  font-family: Georgia, serif;
  font-weight: 600;
}

li.relationships + li.freeforms:before {
  content: "🍯 ";
  color: #0d1f3a;
  font-family: Georgia, serif;
  font-weight: 600;
}

.skins .primary .icon:not(:has(a .icon)),
.index .skins .icon:not(:has(a .icon)) {
  box-sizing: border-box;
  background: url("https://images.squidge.org/images/2025/02/15/zerafina_icon_skins_01.png");
  background-size: cover;
  background-color: #75C2E6;
  border: 1.5px solid #ddd;
}

.blurb ul.required-tags li span,
.bookmark .status span:not(.status .private),
#symbols-key dl img,
#bookmark-symbols-key img {
  box-sizing: border-box;
  box-shadow: inset 0 0 0 1px;
}

.required-tags .rating-notrated,
.required-tags .category-none,
.required-tags .warning-no,
.status .count,
img[src$="/images/skins/iconsets/default/rating-notrated.png"],
img[src$="/images/skins/iconsets/default/category-none.png"],
img[src$="/images/skins/iconsets/default/warning-no.png"] {
  background: #fff;
  color: #ddd;
}

.required-tags .rating-general-audience,
img[src$="/images/skins/iconsets/default/rating-general-audience.png"] {
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_rating-gen_01.png");
  background-size: cover;
  background-color: #efd442;
  color: #0000001a;
}

.required-tags .rating-teen,
img[src$="/images/skins/iconsets/default/rating-teen.png"] {
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_rating-teen_01.png");
  background-size: cover;
  background-color: #d49d38;
  color: #0000001a;
}

.required-tags .rating-mature,
img[src$="/images/skins/iconsets/default/rating-mature.png"] {
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_rating-mature_01.png");
  background-size: cover;
  background-color: #b37730;
  color: #0000001a;
}

.required-tags .rating-explicit,
img[src$="/images/skins/iconsets/default/rating-explicit.png"] {
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_rating-explicit_01.png");
  background-size: cover;
  background-color: #965f37;
  color: #0000001a;
}

.required-tags .category-femslash,
img[src$="/images/skins/iconsets/default/category-femslash.png"] {
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_category-ff_01.png");
  background-size: cover;
  background-color: #c2873a;
  color: #0000001a;
}

.required-tags .category-het,
img[src$="/images/skins/iconsets/default/category-het.png"] {
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_category-mf_01.png");
  background-size: cover;
  background-color: #a1682f;
  color: #0000001a;
}

.required-tags .category-gen,
img[src$="/images/skins/iconsets/default/category-gen.png"] {
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_category-gen_01.png");
  background-size: cover;
  background-color: #bb9443;
  color: #0000001a;
}

.required-tags .category-slash,
img[src$="/images/skins/iconsets/default/category-slash.png"] {
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_category-mm_01.png");
  background-size: cover;
  background-color: #7c4628;
  color: #0000001a;
}

.required-tags .category-multi,
img[src$="/images/skins/iconsets/default/category-multi.png"] {
  background: conic-gradient(from 270deg, #efd442 25%, #c2873a 25% 50%, #965f37 50% 75%, #4b2814 75%);
  color: #0000001a;
}

.required-tags .category-other,
img[src$="/images/skins/iconsets/default/category-other.png"] {
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_category-other_01.png");
  background-size: cover;
  background-color: #4b2814;
  color: #0000001a;
}

.required-tags .warning-choosenotto,
img[src$="/images/skins/iconsets/default/warning-choosenotto.png"] {
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_warning-choosenotto_01.png");
  background-size: cover;
  background-color: #c2873a;
  color: #0000001a;
}

.required-tags .warning-yes,
img[src$="/images/skins/iconsets/default/warning-yes.png"] {
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_warning-yes_01.png");
  background-size: cover;
  background-color: #965f37;
  color: #0000001a;
}

.required-tags .external-work,
img[src$="/images/skins/iconsets/default/warning-external-work.png"] {
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_warning-external-work_01.png");
  background-size: cover;
  background-color: #7c4628;
  color: #0000001a;
}

.required-tags .complete-no,
img[src$="/images/skins/iconsets/default/complete-no.png"] {
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_complete-no_01.png");
  background-size: cover;
  background-color: #965f37;
  color: #0000001a;
}

.required-tags .complete-yes,
img[src$="/images/skins/iconsets/default/complete-yes.png"] {
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_complete-yes_01.png");
  background-size: cover;
  background-color: #c2873a;
  color: #0000001a;
}

.status .rec,
img[src$="/images/skins/iconsets/default/bookmark-rec.png"] {
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_bookmark-rec_01.png");
  background-size: cover;
  background-color: #b37730;
  color: #965f37;
}

.status .public,
img[src$="/images/skins/iconsets/default/bookmark-public.png"] {
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_bookmark-public_01.png");
  background-size: cover;
  background-color: #d49d38;
  color: #c2873a;
}

.status .private .text,
img[src$="/images/skins/iconsets/default/bookmark-private.png"] {
  font-size: inherit;
  text-indent: -9999px;
  white-space: nowrap;
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_bookmark-locked_01.png");
  background-size: cover !important;
  background-color: #bb9443 !important;
  color: #a1682f !important;
}

.status .hidden,
img[src$="/images/skins/iconsets/default/bookmark-hidden.png"] {
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_bookmark-locked_01.png");
  background-size: cover !important;
  background-color: #a1682f !important;
  color: #7c4628 !important;
}

.tagset .primary .icon,
.tag .primary .icon,
.index .tagset .icon {
  box-sizing: border-box;
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_tag_01.png"), 
      linear-gradient(transparent, #ffffff50 45% 55%, transparent);
  background-size: cover;
  background-color: #d49d38;
  border: 1.5px solid #00000025;
}

.index .mystery .icon {
  box-sizing: border-box;
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_anon_01.png"), 
      linear-gradient(transparent, #ffffff50 45% 55%, transparent);
  background-size: cover;
  background-color: #7c4628;
  border: 1.5px solid #ddd;
  box-shadow: inset 0 0 0 3px #fff;
}

.admin .primary .icon {
  box-sizing: border-box;
  background: url("https://images.squidge.org/images/2025/02/13/zerafina_icon_admin_01.png") no-repeat, 
      linear-gradient(#ffffff40, transparent);
  background-size: cover;
  background-color: #965f37;
  border: 1.5px solid #00000099;
}

.skins .primary .icon:not(:has(a .icon)),
.index .skins .icon:not(:has(a .icon)) {
  box-sizing: border-box;
  background: url("https://images.squidge.org/images/2025/02/15/zerafina_icon_skins_01.png");
  background-size: cover;
  background-color: #b37730;
  border: 1.5px solid #ddd;
}

.comment .icon .visitor {
  background: url(https://64.media.tumblr.com/b22b34bcb8c2f32c6c0a633fdff5fc41/0cc0f6279df1d263-f7/s640x960/16e7b7ae0f60669899875a9a758b0df1562ebe1d.png);
  background-repeat: no-repeat;
  background-color: #efd442;
  background-size: contain;
  display: block;
}
